*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.shop-container
{
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px auto;
    gap: 1rem;
    width: 100vw;
    
}